.lista-temas {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
}

.lista-temas .name {
    background: none repeat scroll 0 0 #308CCF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 0 0;
    text-align: center;
}
.lista-temas .name h3 {
    color: #D6DFE5;
    font-size: 20px;
    padding: 15px 0;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.lista-temas li.tema {
    padding: 5px 0;
}

.product-plan.resumen h3 {
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    padding-top: 40px;
    padding-bottom: 20px;
}

.product-plan.resumen h3.corto {
    font-size: 80px;
}

.product-plan.resumen .feature{
    border-bottom: 0px;
}
.product-plan.resumen .feature h4{
    text-align: center;
    padding: 5px;
    color: #999999;
}

.row-fluid.resumen{
    padding-top:20px;
}

.product-plan.agenda .feature{
    border-bottom: 0px;
}

.product-plan.agenda h3 {
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}

.agenda.product-plan{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

div.graph {
    float: left;
    height: 200px;
    width: 200px;
}